.scaleOut {
  animation: scalingOut;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes scalingOut {
  0% {
    opacity: 0.8;
    transform: scale(0.92, 0.92);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
