.blog-banner {

    &-background {

        background: color(extra-dark);

        .marquee-holder {

            overflow: hidden;

        }

        .marquee {

            span,
            circle {

            fill: rgba(102, 102, 102, 1);
            color: rgba(102, 102, 102, 1);

            }

        }

    }

    &-body {

        @extend %body-width-and-padding;

        @include media-query(mobile) {

            padding-bottom: 50px;
            min-height: 500px;
            max-height: unset !important;

        }

        max-width: 1500px;

        &-header {

            @include media-query(mobile) {

                margin-bottom: 20px;

            }

            @include font-size-override(x-large);
            padding-bottom: 24px;
            padding-left: 0;

            h2 {

                @include font-size-override(m-large);
                margin-right: auto;

            }

        }

        .button-expand {


            @include media-query(mobile) {

                margin-left: 0;

            }

            margin-top: 20px;
            margin-left: auto;

        }

    }

    &-blog {

        @include media-query(mobile) {

            flex-direction: column-reverse;

        }

        display: flex;
        justify-content: space-between;

        img {

            @include media-query(mobile) {

                margin-bottom: 18px;
                margin-left: 0;
                width: 100%;
                max-width: unset;

            }

            margin-left: 71px;
            max-width: calc(100% - 400px);
            max-height: 500px;
            object-fit: cover;

        }

    }

}
