.button {
  @include media-query(small-tablet) {
    padding: 9px 19px;
  }

  @media only screen and (max-width: 1400px) {
    @include font-size(small);
    padding: 14px 25px;
  }

  @include media-query(mobile) {

   font-size: 14px !important;

  }

  @include font-size(regular);
  display: block;
  border-radius: 20px;
  border: 2px solid transparent;
  padding: 14.5px 31px;
  width: 100%;
  background: color(primary);
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  color: color(white);
  transition-duration: 0.2s;
  transition-property: color, background, transform;
  transition-timing-function: ease;

  &-title {
    &-dual {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-dual span:first-child {
      margin-bottom: 10px;
    }
  }

  &.max {

    padding: 11px 16px;
    width: max-content;

  }

  &.no-bg {
    border: 1px solid color(dark);
    background: transparent;
    color: color(dark);

    &-dark {
      border: 1px solid #d7d7d7;
      background: transparent;
      color: unset;
    }

    &:hover {
      background: transparent;
    }
  }

  &.smallText {
    @include font-size(small);
  }

  &.no-border {
    border: 0;
    background: unset;
    color: black;

    &:hover {
      background: lighten(black, 40);
      color: white;
    }
  }

  &.delete {
    background: red;

    &:hover {
      background: darken(red, 10);
      color: white;
    }
  }

  &.transparent {
    background: transparent;

    &:hover {
      background: transparent;
    }
  }

  &:hover {
    background: darken(color(primary), 5);
    transform: translate(0, -2px);
  }

  &:disabled {
    background: color(dark);
  }

  &:disabled:hover {
    background: darken(color(dark), 10);
  }

  &-success {
    background: color(primary);

    &:hover,
    &:focus {
      background: color(primary);
    }
  }

  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-fab {
    position: absolute;
    right: 35px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0;
    width: 45px;
    height: 45px;
  }

  &-expand {

    @include media-query(tablet-and-mobile) {

      width: unset;

    }

    @include media-query(mobile) {

      display: none;
      height: 36px;

    }

    display: flex;
    width: max-content;

    &-shell {

      @include media-query(mobile) {

        display: none !important;

      }

    }

    &-text-block {

      position: relative;
      display: flex;
      flex-grow: 1;
      margin-right: 29px;
      min-height: 100%;

      &-holder {

        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;

      }

      p {

        @include font-size(medium);

        @include media-query(mobile) {

          margin-bottom: 0 !important;
          font-size: 14px !important;

         }

        margin: auto 0 !important;
        font-family: $header-font;
      }

      span {

          position: absolute;
          bottom: -5px;
          display: block;
          margin-top: 10px;
          width: 4px;
          height: 2px;
          background: color(white);
          transition: 0.2s ease;

      }

    }

    &-block {

      position: relative;

    }

    &-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      width: 70px;
      height: 70px;
      transform: rotate(180deg);
      transition: 0.2s ease;

      &-block {

        @include media-query(mobile) {

          margin-top: 18px;
          margin-left: -20px;
          transform: scale(0.6);

        }

      }
    }

    &-circle {

      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background: transparent;
      transition: 0.2s ease;

      svg {

        margin: auto;
        border-radius: 100%;

      }

    }

    svg {

      margin-left: 20px;
      transition: 0.2s ease;

    }

    &-wrapper {

      @include media-query(mobile) {

        .button-expand-arrow {

          svg {

            margin-left: 0;

          }

        }

        .button-expand-circle circle {

          fill: color(primary);
          stroke: color(primary);

        }

        .button-expand-text-block span {
          width: 100%;
        }

      }

      display: flex;
      align-items: center;

      &:hover {

        .button-expand-arrow {

          svg {

            margin-left: 0;

          }

        }

        .button-expand-circle circle {

          fill: color(primary);
          stroke: color(primary);

        }

        .button-expand-text-block span {
          width: 100%;
        }

      }

    }

  }

  &-expand-mobile {

    @include font-size(large);
    @include media-query(mobile) {

      display: flex;

    }

    display: none;
    border-radius: 20px;
    border: 1px solid color(white);
    padding: 11px 16px;
    width: 100%;
    max-width: 100%;
    background: unset;
    text-align: center;
    font-weight: 400;

    &:hover {

      background: unset;

    }

    span {

      width: 100%;

    }

  }

}
