.component-holder {
  @extend %box-shadow;
  display: flex;
  flex-direction: column;

  &.no-border {
    box-shadow: none;
    border-radius: 0;
  }

  &-body {
    height: 100%;
  }

  &-align {

    @extend %body-width-and-padding;

  }
}
