.event-item {

    transition: 0.2s ease;

    &:hover img {

        transform: rotate(-1.5deg);

    }

    img {

        width: 100%;
        max-width: 407px;
        height: 100%;
        max-height: 286px;
        transition: inherit;
    }

    p {

        font-weight: 400;

    }

    &.discography-item {

        h2 {

            @include font-size(medium);
            color: color(primary);

        }

        p {

            color: color(text-30);

        }

    }

    &.latest-release-item {

        margin-bottom: 70px;
        padding: 0 15px;
        width: 33.3%;

    }

}
