.footer {
  color: color(footer-text);

  &-logo {
    width: 171px;
    height: 26px;

    img {
      width: 100%;
      height: 100%;
    }

  }

  &-link {
    display: block;
  }

  &-icon-set {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 1.5px solid transparentize(color(white) ,0.75);
      padding: 0;
      width: 40px;
      height: 40px;
      background: transparent;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  p,
  a {
    margin: 6px 0;
    line-height: 1.7;
  }

  &-location-set {
    display: flex;
    align-items: flex-start;
    margin: 25px 0;

    img {
      margin-right: 10px;
    }

    p {
      margin: 0;
      line-height: unset;
    }
  }

  h1 {
    @include font-size(large);
    margin-bottom: 26.5px;
    color: white;
  }
}
