marquee {
    @include font-size(xta-large);
    opacity: 0.6;
    font-family: $header-font;
    color: color(white);

    .marquee-div {
        display: flex;
    }

    .marquee-span {
        display: flex;
        margin: auto 41px;
        border-radius: 100%;
        width: 16px;
        min-width: 16px;
        height: 16px;
        min-height: 16px;
        background: color(white);
    }

}
