.toast-holder {
  z-index: 1060;
  position: fixed;
  top: 110px;
  left: 0;
  width: calc(100% - 1%);
  transition: 1s ease;
}

.toast {
  position: relative;
  margin: 5px;
  margin-left: auto;
  border-radius: 16px;
  padding: 18px;
  width: 100%;
  max-width: 371px;
  background: color(toast-bg);
  line-height: 2rem;
  font-family: $header-font;
  animation-duration: 1s !important;
  transition: 0.1s ease;

  &-item.dismiss {
    @extend .toast;
    padding: 0;
    animation: fadeout 0.5s;
  }

  &-container {
    @include font-size(regular);
    display: flex;
    align-items: flex-start;
    height: 100%;
    line-height: 21px;
  }

  &-container-icon {

    margin-right: 10px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;

  }

  &-error {

    color: color(error);

  }

  &-success {

    color: color(success-toast-text);

  }

  &-caution {

    color: color(primary);

  }

}
