.view-formatter {
  width: 100%;

  &-wrapper-box {
    display: flex;
    align-items: center;
    // margin-bottom: 25px;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.0523656);
    border-radius: 10px;
    padding: 15px;

    &.icon-align > .view-formatter-left-icon {
      margin-top: auto;
      margin-bottom: auto;
    }

    &.settings-item {
      @include media-query(mobile) {
        margin-bottom: 23px;
      }

      margin: 0 0 20px;
      border-radius: 5px;
      padding: 0;
      background: #f3f3f3;

      path {
        stroke: color(secondary-text);
      }

      svg {
        width: 25%;
      }
    }

    &.collapsible {
      padding-top: 0;
    }

    &.classic {
      padding: 0;
    }

    &.dual {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.0523656);

      .view-formatter-left-icon > svg {
        width: 100%;
        max-width: 23px;
        height: 100%;
        max-height: 24px;
      }

      p {
        margin: 0 !important;
      }
    }
  }

  &-title-box {
    display: flex;
    justify-content: space-between;
  }

  &-left-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.0523656);
    border-radius: 100%;
    width: 45px;
    min-width: 45px;
    height: 45px;
    min-height: 45px;
    object-fit: cover;

    &:last-child {
      box-shadow: 0 0 0 0 rgba(0, 0, 0);
    }

  }

  span {
    display: block;
    transition: 0.4s ease-in-out max-height;
  }

  p {
    margin: 0;
    color: color(dark);

    &.view-formatter-p {
      @include font-size-override(medium);
      margin-bottom: 5px;
      text-transform: capitalize;
      font-weight: 500;
    }

    &:last-child:not(&.view-formatter-p) {
      margin-top: 5px;
      color: color(secondary-text);
    }
  }

  &.extra-bold > div > p:first-of-type {
    @include font-size-override(medium);
    font-weight: 500;
    color: color(dark);
  }

  &.extra-bold > span > p:first-of-type {
    @include font-size-override(regular);
    font-family: $main-font !important;
  }

  &.reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  &.classic {
    display: flex;
    align-items: center;
    // padding: 18px 14px;

    // &:not(:first-child) {
    //   margin: 25px 0;
    // }

    p:first-child {
      font-weight: 500;
    }
  }

  &.settings-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15.5px 15px;
    cursor: pointer;

    &.color-dark {
      p {
        color: color(dark) !important;
      }
    }

    &-flex {
      @extend .settings-item;
    }

    &-flex > div:not(:first-of-type) {
      display: none;
    }

    &-flex > div:first-of-type {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      p {
        @include font-size(regular);
        color: color(dark) !important;

        &:first-child {
          max-width: 30%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &.collapsible {
    position: relative;
    cursor: pointer;

    .view-formatter-title-box {

      @include media-query(mobile) {

        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

      }

      align-items: center;
      justify-content: unset;
    }

    .collapsible-icon {

      transition: 0.2s ease;

      svg {
        height: 60px;
      }
    }

    p:not(span p) {
      @include font-size-override(x-large);

      @include media-query(mobile) {

        margin-left: 0;

      }

      margin-top: -5px !important;
      margin-left: 70px;
      font-family: $header-font;
      color: color(dark) !important;
    }

    p {

      @include media-query(mobile) {

        margin-left: 0;

      }

      margin-left: 100px;
      text-transform: unset;
      color: color(dark);
    }

    span {
      max-height: 0;
      overflow: hidden;
    }

    &-show span {
      max-height: 1200px;
    }

    span p {
      @include font-size-override(regular);
      font-family: $main-font;
      font-weight: 300;
      color: color(dark) !important;
    }

  }

  &-dual {
    justify-content: unset !important;
  }

  &-text-box-flex {
    display: flex;
    align-items: center;

    p {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    p:first-child {
      margin-right: 10px;
    }
  }

  &-right-arrow svg {
    width: 16px !important;
    height: 16px !important;
  }
}
