.page-agency {

    min-height: unset;
    background: color(extra-dark);

    &-caption {

        @extend %body-width-and-padding;

        @include media-query(tablet-and-mobile) {

            padding-right: 0 !important;
            padding-left: 0 !important;

        }

        margin-top: 0 !important;
        padding-top: 0 !important;
        padding-right: 0 !important;
        max-width: unset;
        max-height: 900px;

        .landingLayout-header {

            padding-left: 0;
            max-width: unset !important;

        }

        .landingLayout-header-holder {

            max-width: unset !important;

        }

        .landingLayout-header-frame {

            height: 0;

        }

    }

    &-flex {

        @include media-query('tablet-and-mobile') {

            flex-direction: column-reverse;
            flex-wrap: wrap;

        }

        display: flex;
        width: 100%;
        height: 100%;

        &-image {

            @include media-query('tablet-and-mobile') {

                height: 600px;
                max-height: 600px;

                img {

                    width: 100%;
                    height: 100%;

                }

            }

            img {

                max-width: 100%;
                height: 100%;
                object-fit: cover;

            }

        }

        .view-formatter {

            &-wrapper-box {

                @include media-query(tablet-and-mobile) {

                    margin-right: 24px;
                    margin-left: 24px;
                    max-width: 100%;

                }

                margin-right: 88px;
                margin-left: auto;
                max-width: 670px;

            }

            &-title-box {

                margin-top: -120px;

            }

            &-title-box p {

                @include media-query(tablet-and-mobile) {

                    @include font-size-override(xx-large);

                }

                @include font-size(large);
                margin-bottom: 20px;
                font-family: $header-font;

            }

            span p {

                line-height: 1.5;
                color: color(white);
    
            }

        }


    }

    &-section-three {

        padding-top: 137px;
        max-height: unset !important;
        background: url(/assets/background/plain-background.png), #ffffff;
        background-repeat: no-repeat;
        background-size: cover;

        &-header {

            margin-right: auto;
            margin-bottom: 30px;

        }

        .page-zero-section-four-projects {

            justify-content: space-between;
            margin-bottom: 80px;
            max-width: unset;


            .project-item {

                @include media-query(pc-low-resolution) {

                    max-width: 273px !important;

                }

                max-width: 300px !important;

                &:hover {

                    max-width: 600px !important;

                }

                &-overlay {

                    background: unset !important;

                }

            }

        }

    }

    &-section-four {

        padding-top: 106px;
        padding-bottom: 90px;
        color: color(white);

        &-content-body {

            display: flex;
            flex-direction: column;
            margin: auto 0;

        }

        h1 {

            margin-bottom: 45.5px;

        }

        &-partner-holder {

            display: flex;
            flex-wrap: wrap;

        }

        .partner-item-box {

            @include media-query(mobile) {

                width: 100% !important;

            }

            @media only screen and (min-width: 600px) and (max-width: 850px) {

                width: 49%;

                &:nth-child(2n-1) {

                    margin-right: 1%;

                }

                &:nth-child(even) {

                    margin-left: 1%;

                }

            }

            @media only screen and (min-width: 851px) {

                width: 32%;

                &:nth-child(3n-1) {

                    margin-right: 2%;
                    margin-left: 2%;

                }

            }

            &:nth-child(2),
            &:first-child,
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {


                img {

                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }

            }

            &:nth-child(4) img,
            &:nth-child(7) img {

                object-fit: contain;

            }

        }

    }

    .button {

        margin: auto;
        border-radius: 20px;
        border: 1px solid color(white);
        padding-right: 40px;
        padding-left: 40px;
        width: max-content;
        color: color(white);

    }

}
