.page-zero {

    @media only screen and (max-height: 600px) {

        min-height: 600px;

    }

    @media only screen and (min-height: 600px) and (max-height: 1300px) and (max-width: 1440px) and (min-width: 600px) {

        max-height: 800px !important;

        // background: red !important;

    }

    @include media-query(mobile) {

        max-height: 950px;
        background-image: url(/assets/background/hero_mobile.png);

    }

    @include media-query(pc-low-resolution) {

        max-height: 950px;

    }

    height: 100vh;
    max-height: 1200px;
    background-image: url(/assets/background/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;

    &-content {

        @extend %body-width-and-padding;

        @include media-query(mobile) {

            display: flex;
            justify-content: center;
            margin-top: 0;

        }

        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-top: 0;

        .landingLayout-header {
            padding-right: 0;
            padding-left: 0;
        }

    }

    &-caption {

        @include media-query(mobile) {

            margin: 0;
            padding-bottom: 70px;

        }

        margin: 15% 0 0;

        h1 {
            @include font-size(xxxx-large);
            text-align: center;
            font-family: $header-font;
        }

        p {
            @include font-size(large);
            margin: 10px auto 30px;
            max-width: 900px;
            text-align: center;
            font-family: $main-font;
            font-weight: 400;
            color: color(white);
        }

    }

    &-navigation {

        @include media-query(mobile) {

            margin: 0;

        }

        display: flex;
        justify-content: space-between;
        margin: 32px auto auto;
        padding: 5px 0;
        width: 100%;
        max-width: 900px;

        .button-expand {

            &:first-child {

                transform: rotate(180deg);

            }


        }

    }

    &-switcher-holder {

        @include media-query(mobile) {

            flex-grow: 0;

        }

        display: flex;
        flex-direction: column;
        flex-grow: 1;

    }

    &-progression {

        @include media-query(mobile) {

            position: absolute;
            right: 0;
            bottom: 75px;
            justify-content: center;
            margin-left: -19px;
            width: 100vw !important;

        }

        display: flex;
        margin-bottom: 30px;

        span {
            display: block;
            margin-right: 16px;
            border-radius: 100%;
            width: 8px;
            height: 8px;
            background: color(progression);

            &:last-child {

                margin-right: 0;

            }

        }

    }

    &-section-two {

        @media only screen and (max-height: 600px) {

            height: unset !important;
            min-height: 600px;

        }

        @include media-query(mobile) {

            height: unset;
            min-height: unset;
            max-height:  600px;
            background-image: url(/assets/background/hero_mobile.png);
    
        }

        display: flex;
        flex-direction: column;
        padding: 40px 0;
        height: 70vh;
        min-height: 800px;
        max-height: 1000px;
        background-image: url(/assets/background/background-grey.png) !important;
        background-repeat: no-repeat;
        background-size: cover;

        &-body {

            @extend %body-width-and-padding;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            margin: auto;

            .view-formatter-wrapper-box {
                // margin: auto;
                max-width: 500px;
            }

        }

    }

    &-section-three {

        padding: 40px 0;
        height: 40vh;
        min-height: 500px;
        background-image: url(/assets/background/background.png) !important;

        &-body {

            .table-component {

                overflow: visible;

            }

            table {

                @include media-query(mobile) {
                    
                    display: block;

                }

            }

            tr {

                @include media-query(mobile) {

                    display: flex;
                    flex-wrap: wrap;

                }

                border-bottom: 0;
            }

           td {
                padding: 0;
                color: color(white);
            }

            td:nth-child(1) {
                @include font-size-override(x-large);
                padding-right: 30px;
                width: max-content;
                font-family: $header-font;
            }

            td:nth-child(3) {
                position: relative;
                max-width: 490px;

                p.table-place-data {
                    visibility: hidden;
                }

                p.table-show-data {
                    position: absolute;
                    top: 20px;
                }

            }

            td:nth-child(2) {
                @include font-size-override(mmm-large);

                @include media-query(mobile) {

                    @include font-size-override(x-large);

                }

                margin-right: 20px;
                width: max-content;
                font-family: $header-font;
            }

        }

    }

    &-section-four {

        padding: 40px 0;
        background-image: url(/assets/background/blog-background.png) !important;
        background-repeat: no-repeat;
        background-size: cover;

        &-body {

            @extend %body-width-and-padding;
            @include media-query(mobile) {

                margin: 0;

            }

            margin: auto;
            max-width: 1150px;

        }

        &-blog {

            display: flex;
            width: 100%;
            max-width: 1150px;

            &-item {

                @include media-query(mobile) {

                    margin: 0;
                    width: 100% !important;
                    min-width: 100% !important;

                    img {

                        width: 100%;
                        min-width: 100%;
                        max-width: 100%;
                        height: 533px !important;
                        min-height: 533px !important;

                    }

                    &:not(:first-child) {

                        display: none;

                    }

                }

                position: relative;
                margin: 10px;
                width: 25%;
                transition: 0.2s ease;

                &-overlay {

                    position: absolute;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

                }

                &-overlay .button {
                    display: none;
                    margin-top: 32px;
                    border-color: color(white);
                    max-width: 180px !important;
                    color: color(white);
                }

                &-overlay h4 {

                    @include font-size(large);
                    max-width: 140px;
                    text-align: center;
                    font-family: $header-font;
                    color: color(white);

                }

                &-overlay p {

                    display: none;
                    margin-top: 24px;
                    max-width: 346px;
                    text-align: center;
                    color: color(white);

                }

                img {

                    border-radius: 10px;
                    width: 100%;
                    max-width: 273px;
                    min-height: 501px;
                    max-height: 501px;
                    object-fit: cover;

                }

                &:hover {

                    width: 75%;

                    p,
                    button {

                        display: block;

                    }

                    img {

                        width: 100%;
                        max-width: unset;

                    }

                }

            }

        }

        .button-expand {

            margin-top: 32px;
            margin-left: auto;

        }

    }

    &-blog-banner {

        padding: 40px 0 90px;

        .blog-banner-body {

            padding-top: 0;
            padding-bottom: 0;

        }

    }

}
