@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

.page-events {
  background: url(/assets/background/events-background.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  &-expanded {
    .page-zero-caption {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: flex-end;

      p {
        @include font-size(x-large);
      }
    }

    .page-zero-caption .button-expand {
      align-items: flex-end;
      margin: 0 auto 88px;
      width: max-content;

      p {
        @include font-size(large);
        margin-bottom: 16px;
        font-family: $header-font;
      }
    }

    &-body {
      padding: 64px 0;
      // background: url(/assets/background/plain-background.png), #ffffff !important;
      // background-repeat: no-repeat !important;
      // background-size: cover !important;
      background-color: white;

      &-content {
        margin: auto;
        max-width: 1500px;
        color: color(_black);
        font-family: 'Abhaya Libre', serif;
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
      }

      &-content-text,
      p {
        // @include font-size(medium);
        margin: 0 auto 40px;
        max-width: 839px;
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
        color: color(_black);
      }

      figure {
        margin: 0 auto 40px;
        max-width: 639px;
      }

      img {
        display: block;
        margin: 0 auto 40px;
        width: 100%;
        // max-width: 398px;
        height: auto;
        // max-height: 524px;
      }

      &-footer {
        border-top: 1px solid color(grey);
        padding: 22px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        margin: 40px 0;

        &-author {
          span {
            color: color(active-story-item-border);
            font-weight: 500;
          }
        }

        &-share {
          display: inline-flex;
          align-items: center;
          gap: 24px;

          button {
            width: 40px;
            height: 40px;
            border: 1px solid color(grey);
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
              margin: 0;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }

  &-section-two-header {
    @include font-size(xxx-large);
  }

  &-previous-block {
    @extend %body-width-and-padding;

    @include media-query(mobile) {
      padding-top: 30px;
      padding-bottom: 40px;
    }

    padding-top: 64px;
    padding-bottom: 75px;
    background: color(white);
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &-flex {
      @include media-query(mobile) {
        flex-direction: column;
      }

      display: flex;
      flex-wrap: wrap;
    }

    .event-item:nth-child(3n-1) {
      margin-right: 1.25%;
      margin-left: 1.25%;
    }

    .event-item {
      @include media-query(mobile) {
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100%;
      }

      margin-bottom: 40px;
      width: 32.5%;
      max-width: unset;

      img {
        object-fit: cover;
      }
    }

    .event-item:hover img {
      transform: none;
    }
  }

  &-previous-content-header {
    @include font-size-override(l-large);
    margin-bottom: 48px;
  }

  &-partnered-block .partner-item-box-image img {
    object-fit: cover !important;
  }
}
