.page-events {

    background: url(/assets/background/events-background.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &-expanded {

        .page-zero-caption {

            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: flex-end;

            p {

                @include font-size(x-large);

            }

        }

        .page-zero-caption .button-expand {

            align-items: flex-end;
            margin: 0 auto 88px;
            width: max-content;

            p {

                @include font-size(large);
                margin-bottom: 16px;
                font-family: $header-font;

            }


        }

        &-body {

            padding: 64px 0;
            background: url(/assets/background/plain-background.png), #ffffff !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;

            &-content {

                margin: auto;
                max-width: 1500px;
                line-height: 3.1;
                font-weight: 300;
                color: color(text-70);

            }

            &-content-text,
            p {

                @include font-size(medium);
                margin: auto;
                max-width: 839px;
                line-height: 3.1;
                font-weight: 300;
                color: color(text-70);

            }

            figure {

                margin: 40px auto;
                max-width: 639px;

            }

            img {

                display: block;
                margin: 30px auto 0;
                width: 100%;
                max-width: 398px;
                height: 100%;
                max-height: 524px;

            }

        }

    }

    &-section-two-header {

        @include font-size(xxx-large);

    }

    &-upcoming-block {

        @extend %body-width-and-padding;

        @include media-query(mobile) {

            padding-top: 30px;
            padding-bottom: 40px;

        }

        padding-top: 64px;
        padding-bottom: 75px;
        background: url(/assets/background/plain-background.png), #ffffff !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;

        .event-item:nth-child(even)  {

            margin-right: 10px;
            margin-left: 10px;

        }

        .event-item {

            @include media-query(mobile) {

                margin-right: 0 !important;
                margin-bottom: 40px;
                margin-left: 0 !important;


            }

        }

        .page-zero-section-four-blog {

            @include media-query(mobile) {

                flex-direction: column;

            }

        }

    }

    &-upcoming-content-header {

        @include font-size-override(l-large);
        margin-bottom: 48px;

    }

}
