.page-zero {

    @media only screen and (max-height: 600px) {

        min-height: 600px;

    }

    @media only screen and (min-height: 600px) and (max-height: 1300px) and (max-width: 1440px) and (min-width: 600px) {

        max-height: 800px !important;

        // background: red !important;

    }

    @include media-query(mobile) {

        max-height: 950px;
        background-image: url(/assets/background/hero_mobile.png);

    }

    @include media-query(pc-low-resolution) {

        max-height: 950px;

    }

    min-height: 100vh;
    // max-height: 1200px;
    background-image: url(/assets/background/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;

    &-revamp {


        &-hero {

            background-image: url(/assets/background/revamp-hero.png);

        }

        &-content {


            display: flex;
            flex-direction: column;
            flex-grow: 1;
            text-align: center;

            h1 {

                @media only screen and (max-width: 1400px) {

                    @include font-size-override(xx-large);
                    max-width: 800px;

                }

                @media only screen and (max-width: 1000px) {

                    @include font-size-override(x-large);
                    max-width: 610px;

                }

                margin: auto;
                max-width: 880px;
                line-height: 2;
                color: color(white);

                span {

                    position: relative;
                    border-radius: 80px;
                    width: 100%;
                    height: 100%;

                }

                .invincible-text {

                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                    color: transparent;

                }

                .pre-visible-text {

                    @include font-size-override(x-large);

                    @media only screen and (max-width: 1400px) {

                        @include font-size-override(xx-large);

                    }

                    @media only screen and (max-width: 1000px) {

                        @include font-size-override(x-large);

                    }

                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;

                }

                .visible-text-block {

                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                }

                .visible-text {

                    @media only screen and (max-width: 1400px) {

                        @include font-size-override(l-large);

                    }

                    @media only screen and (max-width: 1000px) {

                        @include font-size-override(large);

                    }

                    @include font-size(m-large);
                    display: block;
                    color: color(primary);

                }

                span .bubble {

                    @media only screen and (max-width: 1000px) {

                        margin-top: -15%;

                    }

                    position: absolute;
                    left: 0;
                    margin-top: -17%;

                }

                span .bubble svg {

                    @media only screen and (max-width: 1400px) {

                        width: 100px;
                        height: 100px;

                    }

                    @media only screen and (max-width: 1000px) {

                        width: 73px !important;
                        height: 73px !important;

                    }

                    @extend .rotate;
                    width: 110px;
                    height: 110px;

                }

                span h1 {

                    display: inline-block;

                }

            }

        }

        &-bottom {

            position: relative;
            display: flex;
            justify-content: flex-end;

            p {
                position: absolute;
                bottom: 0;
                margin: auto;
                width: 100%;
                text-align: center;
                color: color(white);
            }

            &-circle {

                @media only screen and ( max-width: 1399px ) {

                    transform: scale(0.8);

                }

                position: relative;

                span:first-child svg {

                    @extend .reverse-rotate ;

                }

                span:last-child {

                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                }

            }

        }

    }

    &-content {

        @extend %body-width-and-padding;

        @include media-query(mobile) {

            display: flex;
            justify-content: center;
            margin-top: 0;

        }

        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-top: 0;

        .landingLayout-header {
            padding-right: 0;
            padding-left: 0;
        }

    }

    &-caption {

        @include media-query(mobile) {

            margin: 0;
            padding-bottom: 70px;

        }

        margin: 15% 0 0;

        h1 {
            @include font-size(xxxx-large);
            text-align: center;
            font-family: $header-font;
        }

        p {
            @include font-size(large);
            margin: 10px auto 30px;
            max-width: 900px;
            text-align: center;
            font-family: $main-font;
            font-weight: 400;
            color: color(white);
        }

    }

    &-navigation {

        @include media-query(mobile) {

            margin: 0;

        }

        display: flex;
        justify-content: space-between;
        margin: 32px auto auto;
        padding: 5px 0;
        width: 100%;
        max-width: 900px;

        .button-expand {

            &:first-child {

                transform: rotate(180deg);

            }


        }

    }

    &-switcher-holder {

        @include media-query(mobile) {

            flex-grow: 0;

        }

        display: flex;
        flex-direction: column;
        flex-grow: 1;

    }

    &-progression {

        @include media-query(mobile) {

            position: absolute;
            right: 0;
            bottom: 75px;
            justify-content: center;
            margin-left: -19px;
            width: 100vw !important;

        }

        display: flex;
        margin-bottom: 30px;

        span {
            display: block;
            margin-right: 16px;
            border-radius: 100%;
            width: 8px;
            height: 8px;
            background: color(progression);

            &:last-child {

                margin-right: 0;

            }

        }

    }

    &-section-two {

        @media only screen and (max-height: 600px) {

            height: unset !important;
            min-height: 600px;

        }

        @include media-query(mobile) {

            height: unset;
            min-height: unset;
            max-height:  600px;

        }

        display: flex;
        flex-direction: column;
        padding: 40px 0;
        height: 70vh;
        min-height: 800px;
        max-height: 1000px;
        background: url(/assets/background/plain-background.png), #B8C9D3;
        background-repeat: no-repeat;
        background-size: cover;

        &-body {

            @extend %body-width-and-padding;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            margin: auto;

            .view-formatter-wrapper-box {
                // margin: auto;
                max-width: 500px;
            }

        }

    }

    &-hidden-section-down {

        display: none;

    }

    &-section-three {

        padding: 40px 0;
        max-height: 100vh;
        overflow-y: scroll;
        background: color(extra-dark);
        scroll-snap-type: y mandatory;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }

        &-body {

            height: 100vh;
            min-height: 500px;
            background: color(extra-dark);
            scroll-snap-align: start;
            scroll-snap-stop: always;

            .table-component {

                overflow: visible;

            }

            table {

                @include media-query(mobile) {

                    display: block;

                }

            }

            tr {

                @include media-query(mobile) {

                    display: flex;
                    flex-wrap: wrap;

                }

                border-bottom: 0;
            }

           td {
                padding: 0;
                color: color(white);
            }

            td:nth-child(1) {

                @include font-size-override(l-large);
                padding-right: 30px;
                font-family: $header-font;

            }

            td:nth-child(3) {
                position: relative;
                max-width: 490px;

                p.table-place-data {
                    visibility: hidden;
                }

                p.table-show-data {
                    position: absolute;
                    top: 20px;
                }

            }

            td:nth-child(2) {

                @include font-size-override(x-large);

                margin-right: 20px;
                width: max-content;
                font-family: $header-font;

                p {

                    padding-left: 100px;
                    max-width: calc(100vw / 2.5);

                }

            }

        }

    }

    &-section-four {

        padding: 40px 0;
        background-image: url(/assets/background/blog-background.png) !important;
        background-repeat: no-repeat;
        background-size: cover;

        &-body {

            @extend %body-width-and-padding;
            @include media-query(mobile) {

                margin: 0;

            }

            margin: auto;
            max-width: 1500px;

        }

        &-projects {

            display: flex;
            width: 100%;
            max-width: 1500px;

        }

        .button-expand {

            margin-top: 32px;
            margin-left: auto;

        }

    }

    &-blog-banner {

        padding: 40px 0 90px;

        .blog-banner-body {

            padding-top: 0;
            padding-bottom: 0;

        }

    }

    &-blog-banner-blog-stories {

        width: 100%;

    }

    &-section-testimonial {

        padding-bottom: 90px;
        background: color(extra-dark);

        .component-header {

            @extend %body-width-and-padding;
            flex-direction: column-reverse;
            align-items: flex-start;
            padding-bottom: 0;
            max-width: 1500px;

            h2 {

                @include font-size-override(xxxx-large);
                color: color(white);

            }

            h4 {

                @include font-size(large);
                color: color(white);

            }

        }

        &-body {

            @extend %body-width-and-padding;
            @include media-query(mobile) {

                margin: 0;

            }

            margin: auto;
            max-width: 1500px;

        }

        .testimonial-entry {

            display: flex;

            &-img {

                margin-right: 128px;
                max-width: 600px;

                img {

                    width: 100%;

                }

            }

            &-texts {

                margin-top: 50px;
                max-width: 600px;
                font-family: $main-font;
                color: color(white);

                h2 {

                    @include font-size(p-large);
                    text-align: center;
                    line-height: 1.7;
                    font-family: $main-font;

                }

                small {

                    display: block;
                    margin: auto;
                    margin-top: 40px;
                    text-align: center;
                    color: transparentize(color(white), 0.4);

                }

            }

            .page-zero-switcher-holder {

                position: relative;

                .page-zero-progression {

                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    margin-top: 15px;
                    width: 100%;
                    height: 100%;

                }

            }

        }

    }

}
