.page-blog {

    min-height: unset;
    background: color(extra-dark);
    background-repeat: no-repeat;
    background-size: cover;

    .blog-banner-background {

        @media only screen and ( max-width: 750px ) {

            max-height: unset;

        }

        padding: 0;
        max-height: 720px;
        background: unset !important;

    }

    &-banner-holder {

        align-items: unset !important;
        justify-content: unset !important;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        // max-width: 1800px;
    }

    &-banner-holder-with-story {

        @media only screen and (max-width: 750px) {

            flex-wrap: wrap;
            padding-top: 100px;

        }

        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        max-height: 700px;

        .story-item-body {

            @media only screen and (max-width: 750px) {

                margin-right: 0;
                margin-bottom: 16px;
                width: 100%;
                max-width: unset;

            }

            display: flex;
            justify-content: center;
            margin-right: 50px;
            border-bottom: 0 !important;
            padding-left: 0;
            width: 45%;
            max-width: 550px;
            color: color(white);

            transition: 0.2s ease;

            h2,
            span,
            p,
            h3 {

                transition: 0.2s ease;

            }

        }

        .story-item-heading {

            @media only screen and (max-width: 750px) {

                margin-bottom: 14px;

            }

        }

        .story-item-title {

            @include media-query (mobile) {

                font-family: $main-font;
                font-size: 18px !important;
                font-weight: 800;

            }

            @include font-size(xx-large);
            font-family: $header-font;


        }

        .story-item-author {

            order: 2;

        }

        .blog-banner-articles-holder {

            @media only screen and (max-width: 750px) {

                width: 100%;

            }

            width: 55%;

        }

        .blog-banner-blog {

            display: block;

            img {

                @media only screen and (max-width: 750px) {

                    min-height: 300px;
                    max-height: 300px;

                }

                margin-right: 0;
                margin-left: 0;
                width: 100%;
                height: 617px;
                min-height: 617px;
                transition: 0.2s ease;
                object-fit: contain;

            }

        }

    }

    &-holder-header {

        @media only screen and ( max-width: 750px ) {

            flex-direction: column;
            flex-wrap: wrap;
            padding-top: 80px;

        }

        display: flex;
        justify-content: space-between;

        &-left {

            @media only screen and ( max-width: 750px ) {

                margin-right: 0;
                width: 100%;

            }

            margin-right: 64px;
            width: 70%;
            max-width: 100%;
            color: color(white);

            h1 {

                @include font-size(quite-large);
                margin-bottom: 20px;

            }

        }

        &-left-links {

            @media only screen and ( max-width: 750px ) {

                flex-wrap: wrap;

            }

            display: flex;

        }

        &-left-links a {

            @media only screen and ( max-width: 750px ) {

                margin-right: 0 !important;
                margin-bottom: 20px;
                width: 20%;

            }

            @include media-query(mobile) {

                margin-bottom: 10px;
                width: 100%;

            }

            display: block;

            &:not(:last-child) {

                margin-right: 32px;

            }

        }

        a,
        p {
            font-weight: 400;
            color: color(text-40);
        }

        &-right {

            display: flex;
            align-items: flex-end;

            .button {

                margin-left: 8px;
                padding: 6px 12px;
                width: max-content;
                height: max-content;

            }

        }

    }

    &-banner-flex {

        @media only screen and ( max-width: 750px ) {

            flex-direction: column;

        }

        flex-direction: row-reverse;
        padding-top: 44px;

        img {

            @media only screen and ( max-width: 750px ) {

                width: 100%;

            }

            margin-right: 64px;
            margin-left: unset;
            width: 65%;
            max-width: 100%;
            max-height: 550px;
            object-position: bottom;
            object-fit: cover;

        }

        .story-item {

            margin-bottom: 26px;

        }

    }

    &-latest-articles {

        &-flex {

            display: flex;
            color: color(dark);

            .story-item {

                margin-right: 40px !important;
                border-bottom: 0;
                min-width: 558px;
                overflow: hidden;

            }

            .story-item-date,
            .story-item-author {

                color: color(text-80);

            }

            .story-item h3 {

                @include font-size(p-large);
                color: color(dark);

            }

            .story-item-sub {
                color: color(text-80);

            }

            img {

                width: 558px;
                max-width: 558px;
                height: 362px;
                max-height: 362px;
                object-fit: cover;

            }

        }

    }

    &-top-reads-flex {

        flex-direction: column;

        .story-item {

            @include media-query(mobile) {

                flex-direction: column !important;
                margin-bottom: 25px;
                min-width: unset !important;

            }

            display: flex;
            align-items: center;
            margin-right: 0 !important;
            margin-bottom: 54px;
            max-width: unset;

            button {

                margin-top: 25px;
                border-radius: 20px;
                padding: 12px 40px;
                width: max-content;
                height: max-content;

            }

            &-body {

                @media only screen and ( max-width: 750px ) {

                    width: 45%;

                }

                @include media-query(mobile) {

                    width: 100%;

                }

                width: 40%;
                max-width: 600px;

            }

            img {

                @media only screen and ( max-width: 750px ) {

                    margin-right: 20px;
                    width: 55%;

                }

                @include media-query(mobile) {

                    margin-right: 0 !important;
                    margin-bottom: 16px !important;
                    margin-left: 0 !important;
                    width: 100%;

                }

                margin-right: 40px;
                width: 60%;
                max-width: 700px;
                height: 100%;
                max-height: 424px;

            }

            &:nth-child(even) {

                flex-direction: row-reverse;

                img {

                    margin-right: 0;
                    margin-left: 40px;

                }

            }

        }

    }

    &-active-category {

        &-holder {

            background: url(/assets/background/plain-background.png), #ffffff;
            background-repeat: no-repeat;
            background-size: cover;

        }

        &-header {

            align-items: flex-start !important;
            padding-bottom: 15px;

        }

        &-next {

            margin: auto;
            width: unset;
            max-width: 100%;

        }

        &-body {

            padding-top: 0;

            .content-loader-stories-block {

                border-bottom: 0;
                padding-right: 16px;
                padding-left: 16px;
                width: 33.3%;

                .content-loader-image {

                    margin-right: 0;
                    margin-left: 0;

                }

            }

        }

        &-flex {

            display: flex;
            flex-wrap: wrap;
            margin-right: -16px;
            margin-left: -16px;


            .story-item {

                @media only screen and ( max-width: 800px ) {

                    width: 50%;
                    max-width: 50%;

                }

                @media only screen and ( max-width: 600px ) {

                    width: 100%;
                    max-width: 100%;

                }

                display: flex;
                flex-direction: column;
                flex-grow: 1;
                margin-right: 0 !important;
                margin-bottom: 20px !important;
                margin-left: 0 !important;
                width: 33%;
                min-width: 33%;
                max-width: 33%;
                transition: 0.2s ease;

                img {

                    width: 100%;
                    max-width: 100%;
                }

                &-body {

                    flex-grow: 1;
                    padding: 16px;
                    background: color(white);

                }

                &-body p {

                    line-height: 1.9;

                }

                &:hover {

                    width: 34%;
                    min-width: 34%;
                    transform: scale(1.05);

                }

            }

        }

    }

    &-story-loader {

        display: flex;
        align-items: center;
        width: 41%;

        .content-loader-stories-block {

            margin: auto;
            border-bottom: 0;

            .content-loader.title {

                height: 46px;

            }

        }

    }

}
