.page-labels {

    &-expanded {

        &-hero {

            background: url(/assets/background/labels-expanded-background.png) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;

            .page-zero-caption  p {

                @include font-size-override(medium);

                max-width: 700px;

            }

        }

    }

}
