@font-face {
  text-rendering: optimizeLegibility;
  font-family: 'Druk-wide';
  font-weight: 500;
  font-style: normal;
  src: url('./Druk-Wide-Bold.ttf') format('truetype');
  font-display: fallback;
}
