.landingLayout-footer {

    @include media-query('pc-low-resolution') {
      padding-top: 45px;
    }

    @include media-query('mobile') {
      padding-top: 50px;
    }

    padding-top: 67px;
    background: color(extra-dark);

    &-holder {

        @extend %body-width-and-padding;

        &-tabs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

    }

    &-tab {

        @include media-query(mobile) {

            width: 100%;

            .view-formatter-title-box {

              justify-content: center;

            }

        }

        margin-bottom: 56px;
        width: 50%;

        p {
            margin: 0 !important;
        }

      &-address {

        .view-formatter-regular-value {

          font-family: $main-font !important;

        }

      }

      &-contact .view-formatter-title-box p:first-child {

        @include font-size-override(l-large);

      }

      &:nth-child(even) .view-formatter-wrapper-box .view-formatter {

        @include media-query(mobile) {

          margin-left: 0;

          .view-formatter-title-box {

            justify-content: center;

          }

        }

        margin-left: auto;

      }

      .view-formatter {

        @include media-query(mobile) {

          width: 100%;

        }

        width: max-content;
        color: color(white);

        &-wrapper-box {
          padding: 0;
        }

        .button-expand {

          margin-top: 5px;
          margin-left: 11.43px;

            p {

                @include font-size-override(medium);

            }

        }

        p {
            @include font-size-override(large);
          margin-bottom: 0;
          color: color(white);
        }

        span {

          @include media-query(mobile) {
  
            justify-content: center;

          }

          display: flex;
          align-items: center;

        }

        &-regular-value {

          @include media-query(mobile) {

            min-width: unset;

          }

          min-width: max-content;
          font-family: $header-font;

        }

      }

    }

    &-links {

        display: flex;
        justify-content: space-between;
        border: 2px solid color(white);
        border-right: 0;
        border-left: 0;
        padding: 29px 0;

        a,
        h1 {
            margin: 0 !important;
        }

        h1 {

            @include font-size-override(xxx-large);
            font-family: $main-font;

        }

    }

    &-cr {

        @include media-query('pc-low-resolution') {
          padding-top: 0;
          padding-bottom: 55px;
        }

        @include media-query('mobile') {
          flex-direction: column;
          padding: 0 24px 45px;

          p {
            margin: 0 0 16px !important;
            text-align: center;
          }

        }

        padding-top: 0;
        padding-bottom: 70px;

        &-holder {

          @include media-query(mobile) {
            flex-direction: column-reverse !important;
            margin-top: 0;
          }

          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
        }

        p {
          color: transparentize(color(white), 0.6);
        }

        div {

            @include media-query('mobile') {
                flex-direction: column;
                margin-bottom: 36px;
            }

            display: flex;

            p:not(:last-child) {
                margin-right: 10px;
            }

        }

    }

}
