.landingLayout {
    position: relative;
    min-height: 100vh;

    &-body {

      &.default {
        margin: unset !important;
        padding: unset !important;
        width: unset !important;
        max-width: unset !important;
      }

    }

    &-header {
      @extend %body-max-width;

      @media only screen and (max-width: 1400px) {
        padding: 50px 62px;
      }

      @include media-query(mobile) {
        box-shadow: $header-shadow;
        padding: 33px 62px;
      }

      @include media-query('small-tablet') {
        padding: 40px 20px !important;
      }

      z-index: 1;
      // position: absolute;
      top: 0;
      padding: 69px 124px;
      width: 100%;
      background: transparent;
      transition: padding 0.2s;
      transition-timing-function: ease;

      &-frame {
        position: relative;
      }

      &-holder {
        @media only screen and (min-width: 1401px) {
          max-width: 2000px !important;
        }

        @include media-query(small-tablet) {
          max-width: 100%;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
      }

      div {
        @include media-query(mobile) {
          display: none;
        }
        display: flex;
        align-items: center;
      }

      img {
        @media only screen and (max-width: 1400px) {
          max-width: 200px;
        }
        max-width: 206px;
      }

      a {
        @include media-query('small-tablet') {
          margin-right: 26px;
        }
        display: flex;
        align-items: center;
        margin-right: 41px;
        cursor: pointer;
        white-space: nowrap;
        color: color(white);

        &:last-child {
          margin-right: 0;
        }

      }

    }

    &-header-mobile {
        z-index: 1;
        position: absolute;
        top: 0;
        margin-left: -29px;
        width: 100%;
        background: transparent;

        &-exp {
          @include media-query(tablet) {
            width: 50%;
          }
          position: fixed;
          top: 0;
          right: -100%;
          width: 100%;
          height: 100%;
          background: white;
          transition: 0.5s ease;

          &.expanded {
            right: 0;
          }
        }

        img {
          width: 150px;
        }

        &-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.05);
          padding: 25px 25px 17px;

          i {
            font-size: 20px;
            color: color(white);
          }
        }

        &-actions {
          display: flex;
          justify-content: space-between;
          margin-bottom: 40px;
        }

        &-bottom {
          z-index: -1;
          padding: 24px;

          .button {
            @include font-size(medium);
            margin-bottom: 0;
            padding-top: 21px;
            padding-bottom: 21px;
            width: 48%;
          }
        }

        &-links a {
          @include font-size(medium);
          display: block;
          margin-bottom: 32px;
        }
      }

      &-header,
      &-header-mobile {
        .form-field {
          margin-bottom: 0;

          .select-pop {
            top: 50px !important;
            left: 0 !important;
          }

          li {
            padding: 0 !important;
            width: 100%;
          }

          a {
            margin-right: 0;
            padding: 15px;
            width: 100%;
          }

          p {
            @include font-size(regular);
          }
        }
      }

}
