@font-face {
  text-rendering: optimizeLegibility;
  font-family: 'Epilogue';
  font-weight: 700;
  font-style: normal;
  src: url('./Epilogue-700.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: 'Epilogue';
  font-weight: 500;
  font-style: normal;
  src: url('./Epilogue-500.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: 'Epilogue';
  font-weight: 400;
  font-style: normal;
  src: url('./Epilogue-400.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: 'Epilogue';
  font-weight: 300;
  font-style: normal;
  src: url('./Epilogue-300.ttf') format('truetype');
  font-display: swap;
}
