.page-zero-section-three {

    @include media-query(mobile) {

        min-height: unset;

    }

    @extend %body-width-and-padding;
    position: relative;
    min-height: 1300vh;
    background: color(extra-dark);

    .marquee {

        &-snap {

            @include media-query(mobile) {

                position: relative;

            }

            z-index: 1;
            position: sticky;
            top: 0;
            height: max-content;
            min-height: max-content;
            background: color(extra-dark);

        }

        span,
        circle {

            fill: transparentize(color(white), 0.4);
            color: transparentize(color(white), 0.4);

        }

    }

    &-body {

        @include media-query(mobile) {

            position: relative;
            padding-top: 40px;
            padding-bottom: 60px;
            height: unset;
            min-height: unset;

        }

        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100vw;
        height: 110vh;
        min-height: 500px;
        transform: translate(0, 0);
        transition: 0.2 linear;

        .table-component {

            overflow: visible;

        }

        table {

            @include media-query(mobile) {

                display: block;

            }

        }

        tr {

            @include media-query(mobile) {

                display: flex;
                flex-wrap: wrap;

            }

            border-bottom: 0;
        }

       td {
            padding: 0;
            color: color(white);
        }

        td:nth-child(1) {

            @include font-size-override(l-large);
            padding-right: 30px;
            font-family: $header-font;

        }

        td:nth-child(1) p {

            @include media-query(mobile) {

                @include font-size-override(p-large);

            }

        }

        td:nth-child(2) p {

            @include media-query(mobile) {

                @include font-size-override(x-large);

            }

        }

        td:nth-child(3) {
            position: relative;
            max-width: 490px;

            p.table-place-data {
                visibility: hidden;
            }

            p.table-show-data {
                position: absolute;
                top: 20px;
            }

        }

        td:nth-child(2) {

            @include font-size-override(x-large);

            margin-right: 20px;
            width: max-content;
            font-family: $header-font;

            p {

                @include media-query(mobile) {

                    padding-left: 0;
                    max-width: 60vw;

                }

                padding-left: 100px;
                max-width: calc(100vw / 2.5);

            }

        }

    }

}
