.scroll-parent {

    position: relative;

}

.page-zero-section-three {

    @include media-query(mobile) {

        max-height: unset;
        overflow-y: visible;

    }

    padding: 40px 0;
    max-height: 100vh;
    overflow-y: scroll;
    background: color(extra-dark);
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    .marquee {

        &-snap {

            position: absolute;
            top: 0;
            height: max-content;
            min-height: max-content;

        }

        span,
        circle {

            fill: transparentize(color(white), 0.4);
            color: transparentize(color(white), 0.4);

        }

    }

    &-body {

        @include media-query(mobile) {

            padding-top: 40px;
            padding-bottom: 60px;
            height: unset;
            min-height: unset;

        }

        height: 100vh;
        min-height: 500px;
        background: color(extra-dark);
        scroll-snap-align: start;
        scroll-snap-stop: always;

        .table-component {

            overflow: visible;

        }

        table {

            @include media-query(mobile) {

                display: block;

            }

        }

        tr {

            @include media-query(mobile) {

                display: flex;
                flex-wrap: wrap;

            }

            border-bottom: 0;
        }

       td {
            padding: 0;
            color: color(white);
        }

        td:nth-child(1) {

            @include font-size-override(l-large);
            padding-right: 30px;
            font-family: $header-font;

        }

        td:nth-child(1) p {

            @include media-query(mobile) {

                @include font-size-override(p-large);

            }

        }

        td:nth-child(2) p {

            @include media-query(mobile) {

                @include font-size-override(x-large);

            }

        }

        td:nth-child(3) {
            position: relative;
            max-width: 490px;

            p.table-place-data {
                visibility: hidden;
            }

            p.table-show-data {
                position: absolute;
                top: 20px;
            }

        }

        td:nth-child(2) {

            @include font-size-override(x-large);

            margin-right: 20px;
            width: max-content;
            font-family: $header-font;

            p {

                @include media-query(mobile) {

                    padding-left: 0;
                    max-width: 60vw;

                }

                padding-left: 100px;
                max-width: calc(100vw / 2.5);

            }

        }

    }

}
