.discography {

    &-block {

        @include media-query(mobile) {

            padding-top: 30px;

        }

        padding-top: 64px;
        background: color(extra-dark);
        background-repeat: no-repeat;
        background-size: cover;
        color: color(white);

    }

}
