.playlists {

    &-block {

        padding: 64px 0;
        min-height: 464px;
        background: color(white);

        .playlists-item {

            margin-right: 16px;

        }

        &-header {

            @extend %body-width-and-padding;
            padding-top: 0;
            padding-bottom: 48px;

        }

        &-slider {

            @extend %body-width-and-padding;
            display: flex;
            flex-wrap: nowrap;
            padding-top: unset;
            padding-bottom: unset;
            max-width: unset;
            overflow-x: scroll;

            .playlists-item {

                @include media-query(mobile) {

                    width: 80vw !important;
                    min-width: 80vw !important;
                    max-width: 311px !important;

                }

                margin-right: 30px;

            }

        }

    }

    &-item {

        display: block;
        width: 480px;
        min-width: 480px;

        img {

            display: block;
            margin-bottom: 16px;
            width: 100%;
            max-width: unset;
            height: 362px;
            overflow: hidden;
            object-fit: cover;

        }

        h2 {

            width: 100%;
            text-align: left;
            font-family: $main-font;

        }

    }

}
