.playlists {

    &-block {

        @include media-query(mobile) {

            padding-bottom: 42px;

        }

        padding: 64px 0;
        min-height: 464px;
        background: color(white);

        .playlists-item {

            margin: auto;

        }

        &-header {

            @extend %body-width-and-padding;
            padding-top: 0;
            padding-bottom: 48px;
            text-align: center;

        }

    }

    &-item {

        @include media-query(mobile) {

            width: 90% !important;
            min-width: unset;
            max-width: 400px;

        }

        display: block;
        width: 480px;
        min-width: 480px;

        &:hover img {

            transform: none;

        }

        .event-item-button-wrapper {

            max-width: unset;
            background: rgba(0, 0, 0, 0.4) !important;

        }

        img {

            display: block;
            margin-bottom: 16px;
            width: 100%;
            max-width: unset;
            height: 362px;
            overflow: hidden;
            object-fit: cover;

        }

        h2 {

            @include font-size(m-medium);
            width: 100%;
            text-align: center;
            font-family: $header-font;

        }

    }

    &-block-slider .button-expand {

        margin: 48px auto 0;

    }

    &-block-slider .button-expand-mobile {

        margin: 24px auto;
        border-color: color(_black);
        width: 90%;
        color: color(_black);

    }

}
